.neon-circle {
  border-radius: 50%;
  border: 5px solid transparent;
  position: relative;
  padding: 10px;
}
.neon-circle::before,
.neon-circle::after {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  border-radius: 50%;
  border: 3px solid;
  z-index: -1;
}
.neon-circle::before {
  border-color: rgba(0, 255, 255, 0.7);
  filter: blur(10px);
}
.neon-circle::after {
  border-color: rgba(255, 0, 255, 0.7);
  filter: blur(20px);
}
.home-icn a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 23px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}
.home-icn a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 15px cyan, 0 0 10px cyan, 0 0 10px cyan,
    0 0 50px cyan;
}
.logo {
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.navbar a {
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: #0ef;
  text-decoration: none;
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.home-content h3 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h2 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-icn h3:nth-of-type(2) {
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.home-content h1 {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

// .slider-text-container {
//   // display: flex;
// }

// .dynamic-text {
//   height: 90px;
//   line-height: 90px;
//   overflow: hidden;
//   margin-inline-start: 15px;
// }

// .dynamic-text li {
//   color: #fc6d6d;
//   list-style: none;
//   font-size: 20px;
//   font-weight: 500;
//   position: relative;
//   top: 0;
//   animation: animate 12s steps(4) infinite;
// }

// @keyframes animate {
//   100% {
//     top: -360px;
//   }
// }

// .dynamic-text li span {
//   position: relative;
//   margin: 5px 0;
//   line-height: 90px;
// }
// .dynamic-text li span::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: #081b29;
//   border-left: 2px solid #fc6d6d;
//   animation: typing 3s steps(10) infinite;
// }

// @keyframes typing {
//   40%,
//   60% {
//     left: calc(100% + 30px);
//   }
//   100% {
//     left: 0;
//   }
// }
.services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
}

.sub-title span {
  color: #0ef;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 80px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}
// .services-list div:hover {
//   transform: translateY(-10px);
// }
.container1 {
  width: 600px;
  height: 500px;
  // padding: 75px 90px;
  // margin-left: 350px;
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.Technical-bars .bar {
  margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  color: white;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #4b4b4c;
  animation: animate 1s cubic-bezier(1, 0, 0, 5, 1);
  transform: scaleX(1);
  transform-origin: left;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(1);
  transform-origin: left;
}
.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
  width: 85%;
}
.progress-line.Javascript span {
  width: 80%;
}
.progress-line.Angular span {
  width: 70%;
}
.progress-line.Typescript span {
  width: 50%;
}
.main-text {
  padding-top: 130px;
  // margin-top: 200px;
}
.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
}
.main-text h2 span {
  color: #0ef;
}
.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  gap: 20px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}

.layer h5 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: white;
  font-size: 1rem;
  line-height: 1.8;
}

.layer i {
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  // margin-top: 130px;
}
.contact-text h2 {
  font-size: 50px;
  line-height: 1;
  text-align: center;
}
.contact-text h2 span {
  color: #0ef;
}
.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list a {
  text-decoration: none;
}

.contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translate(-5px);
  color: #0ef;
}
.contact-icons i {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.contact-icons i:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.1s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 10px cyan, 0 0 10px cyan,
    0 0 10px cyan;
}
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  // margin-top: 70px;
}
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red !important;
}

/* navbar.component.css */

header {
  z-index: 1000;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.side-nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: right 0.3s ease-in-out;
  padding-top: 80px;
  z-index: 999;
  display: none;
}

.side-nav.open {
  right: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.nav-link {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-link:hover {
  color: gray;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.3s;
  visibility: hidden;
  z-index: 998;
}

.overlay.blur {
  visibility: visible;
}

.social-icon {
  padding-left: 8px;
  padding-top: 8px;
}

@media (max-width: 768px) and (min-width: 300px) {
  .menu-button {
    display: block;
  }

  .side-nav {
    display: block;
  }

  // header {
  //   width: 90%;
  // }
  header .navbar {
    display: none;
  }

  .side-nav .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .home-content h3 {
    margin-top: 50px;
  }

  .about-img {
    display: none;
  }

  .about-text {
    text-align: center;
    max-width: 100%;
    padding: 0 20px;
  }

  .service-part {
    padding: 10px;
  }

  .service-part .services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-part .services-list > div {
    flex: 1 1 100%;
    max-width: 90%;
    margin-bottom: 1.5rem;
  }

  .service-part .sub-title {
    font-size: 2.5rem;
  }

  .service-part .services-list > div i {
    font-size: 3rem;
  }

  .service-part .services-list > div h2 {
    font-size: 1.5rem;
  }

  .service-part .services-list > div p {
    font-size: 1rem;
  }

  .sub-title {
    font-size: 2.5rem;
  }

  .container1 {
    width: 80%;
    margin: 0 auto;
  }

  .Technical-bars .bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .Technical-bars .bar .info {
    padding-left: 0;
    margin-bottom: 5px;
  }

  .Technical-bars .bar .progress-line {
    width: 100%;
  }

  .Technical-bars .bar .progress-line span {
    background-color: #00eeff;
  }

  .main-text h2 {
    font-size: 40px;
  }

  .project-card {
    max-width: 90%;
    margin-bottom: 2rem;
    // margin-left: 1rem;
  }

  .project-card img {
    width: 90%;
    // height: 100%;
  }

  .layer {
    // padding: 1rem;
    width: 93%;
  }

  .layer h5 {
    font-size: 1.25rem;
  }

  .layer p {
    font-size: 1rem;
  }

  .contact {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
  }

  .contact-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .contact-text h2 {
    font-size: 40px;
  }
  .contact-text p {
    font-size: 15px;
    line-height: 30px;
  }
  .contact-list {
    text-align: center;
  }

  .contact-icons {
    justify-content: center;
    // margin-bottom: 2rem;
  }

  .contact-form {
    padding: 1 1rem;
    text-align: center;
  }

  .contact-form form {
    width: 100%;
    margin: 0 auto;
  }
  .social-icon {
    padding-left: 4px;
    padding-top: 8px;
  }

  .send {
    margin-top: 20px;
  }
}

// @media (min-width: 769px) {
//   .side-nav {
//     display: none;
//   }
// }
