<header
  class="bg-gradient-to-t from-black via-black bg-gray-950 text-white p-4 shadow-md w-full h-20 fixed top-0 z-10"
>
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold logo transition duration-300">Roshan</h1>
    <nav class="navbar">
      <a
        href="#home"
        style="--i: 1"
        class="mr-4 hover:text-gray-300 transition duration-300"
        >Home</a
      >
      <a
        href="#about"
        style="--i: 2"
        class="mr-4 hover:text-gray-300 transition duration-300"
        >About</a
      >
      <a
        href="#experience"
        style="--i: 3"
        class="mr-4 hover:text-gray-300 transition duration-300"
        >Experience</a
      >
      <a
        href="#skills"
        style="--i: 4"
        class="mr-4 hover:text-gray-300 transition duration-300"
        >Skills</a
      >
      <a
        href="#projects"
        style="--i: 5"
        class="mr-4 hover:text-gray-300 transition duration-300"
        >Projects</a
      >
      <a
        href="#contact"
        style="--i: 6"
        class="hover:text-gray-300 transition duration-300"
        >Contact</a
      >
    </nav>
    <div class="menu-button md:hidden" (click)="toggleNav()">
      <i class="bx" [ngClass]="isNavOpen ? 'bx-x' : 'bx-menu'"></i>
    </div>
  </div>
</header>

<div [class.open]="isNavOpen" class="side-nav">
  <nav class="navbar">
    <a href="#home" class="nav-link" (click)="toggleNav()">Home</a>
    <a href="#about" class="nav-link" (click)="toggleNav()">About</a>
    <a href="#experinces" class="nav-link" (click)="toggleNav()">Experience</a>
    <a href="#skills" class="nav-link" (click)="toggleNav()">Skills</a>
    <a href="#projects" class="nav-link" (click)="toggleNav()">Projects</a>
    <a href="#contact" class="nav-link" (click)="toggleNav()">Contact</a>
  </nav>
</div>

<div [class.blur]="isNavOpen" class="overlay" (click)="toggleNav()"></div>


<section
  id="home"
  class="bg-gradient-to-t from-black via-black bg-gray-800 p-12 flex flex-col md:flex-row items-center"
>
  <div class="md:w-1/2 p-4 home-content">
    <h3 class="text-2xl font-bold text-white animated-text">Welcome,</h3>
    <h1 class="text-4xl font-bold text-white text-name">I Am Roshan Patil</h1>
    <div class="typing-animation font-bold">
      <span class="typed-text">{{ typedText }}</span>
    </div>

    <p class="text-gray-300 mt-2">
      Turning ideas into seamless, interactive experiences through code that
      speaks. Let's create something extraordinary!
    </p>
    <div class="home-icn">
      <a href="https://github.com/roshan348" style="--i: 7" target="_blank"
        ><i class="bx bxl-github d-flex justify-content-center mt-2"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/roshan-patil-837871278?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bpu9EpdstTYqujyRTbzCHYA%3D%3D"
        target="_blank"
        style="--i: 8"
        ><i class="bx bxl-linkedin d-flex justify-content-center mt-2"></i
      ></a>
    </div>
    <a href="../../assets/Patil Roshan CV.pdf" target="_blank" class="btn-box"
      >Download CV</a
    >
  </div>

  <div class="profile-pic md:w-1/2 p-4 flex justify-center md:justify-end mt-10">
    <img
      src="../../assets/roshan-image.jpeg"
      alt="Profile Photo"
      class="rounded-3xl w-80 h-full"
    />
  </div>
</section>

<div class="text-3xl font-bold text-white text-center bg-black">
  <i class="fas fa-user mx-2"></i> About <span class="text-3xl font-bold text-cyan-400">Me</span>
</div>

<section
  id="about"
  class="py-20 bg-gradient-to-b from-black via-black bg-gray-800 text-center flex flex-col md:flex-row justify-center items-center about"
>
  <div class="about-img mb-8 md:mb-0 md: mr-12 flex flex-col items-center">
    <img
      src="../../assets/roshan-image-2.jfif"
      alt="Profile Photo"
      class="rounded-3xl w-80 h-full"
    />
  </div>

  <div class="about-text md:max-w-2xl text-white">
    <h2 class="text-3xl font-bold mb-3 text-start">Namaste!</h2>
    <p class="text-lg mb-3">
      I am <strong>Roshan Patil</strong>, A Passionate Frontend Developer And I Am
      currently working at <strong>Angrio Technologies</strong>.
    </p>
    <p class="text-lg mb-4">
      My expertise shines in Angular, where I've translated my knowledge into
      impactful projects that seamlessly integrate front-end aesthetics with
      Backend as a Service (BaaS).
      <p class="text-lg mb-4">
        I thrive on creating intuitive user experiences and continuously explore
        new technologies to elevate my craft. Let’s connect and create something
        amazing together!
      </p>
  </div>
</section>

<section
  id="experience"
  class="py-20 bg-gradient-to-t from-black via-black bg-gray-800"
>
  <div class="experience" id="experience">
    <div class="experience-part text-white p-20">
      <h1 class="sub-title text-center text-5xl pb-16">
        <i class="fas fa-briefcase"></i> My <span>Experience</span>
      </h1>
      <div class="experience-list">
        <div
          class="transition-transform transform hover:-translate-y-2 rounded-xl"
        >
          <i class="bx bx-briefcase text-6xl mb-4 text-[#00eeff]"></i>
          <h2 class="text-2xl font-medium mb-4">
            Internship - Nov 2024 to Apr 2024
          </h2>
          <p>
            During my internship, I worked on various frontend technologies
            including HTML, CSS, JavaScript, Angular, and TypeScript. I gained
            valuable hands-on experience in web development projects.
          </p>
        </div>

        <div
          class="transition-transform transform hover:-translate-y-2 rounded-xl"
        >
          <i class="bx bx-briefcase-alt text-6xl mb-4 text-[#00eeff]"></i>
          <h2 class="text-2xl font-medium mb-4">
            Full-Time Job - May 2024 to Present
          </h2>
          <p>
            Currently, I am working as a full-time developer at Angrio
            Technologies. I specialize in frontend development using Angular and
            Typescript, and I am constantly learning and improving my skills in
            web application development.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="skills"
  class="py-20 bg-gradient-to-b from-black via black bg-gray-800"
>
<h1 class="sub-title text-white text-center text-5xl mb-10">
  <i class="fas fa-lightbulb"></i> Skills & <span>Abilities</span>
</h1>

  <div class="container mx-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 text-white px-6">
    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <i style="color: #DD0031" class="bx bxl-angular text-5xl"></i>
      <span class="text-lg mt-2">Angular</span>
    </div>

    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <i style="color: #F7DF1E" class="bx bxl-javascript text-5xl"></i>
      <span class="text-lg mt-2">JavaScript</span>
    </div>

    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <i style="color: #3178C6" class="bx bxl-typescript text-5xl"></i>
      <span class="text-lg mt-2">TypeScript</span>
    </div>

    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <i style="color: #E34F26" class="bx bxl-html5 text-5xl"></i>
      <span class="text-lg mt-2">HTML</span>
    </div>

    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <i style="color: #1572B6" class="bx bxl-css3 text-5xl"></i>
      <span class="text-lg mt-2">CSS</span>
    </div>

    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <img src="https://seeklogo.com/images/S/supabase-logo-DCC676FFE2-seeklogo.com.png" alt="Supabase" class="w-12 h-12"/>
      <span class="text-lg mt-2">Supabase</span>
    </div>

    <div class="skill-box p-4 bg-gray-900 rounded-lg flex flex-col items-center justify-center hover:bg-[#0ef] transition-all duration-300">
      <img src="https://firebase.google.com/downloads/brand-guidelines/SVG/logo-logomark.svg" alt="Firebase" class="w-12 h-12"/>
      <span class="text-lg mt-2">Firebase</span>
    </div>
  </div>
</section>


<section
  id="projects"
  class="bg-gradient-to-b from-black via-black bg-gray-800 py-10"
>
  <div class="text-white">
    <div class="main-text text-center" id="project">
      <h2 class="text-3xl font-bold">
        <i class="fas fa-check-circle"></i> Completed <span>Projects</span>
      </h2>

      <div class="px-5 mt-14 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
        <div class="relative group project-card bg-gray-900 rounded-lg overflow-hidden shadow-lg">
          <img
            class="w-full h-72 object-cover transition-transform duration-300 transform group-hover:scale-110"
            src="../../assets/afforadable-project-jpg.jpg"
            alt="Affordable Matrimony"
          />
          <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center p-4">
            <h5 class="text-lg font-bold text-white">Affordable Matrimony - Admin</h5>
            <p class="text-sm text-gray-300 mt-2 text-center">
              Streamlining matchmaking management with a user-friendly interface and efficient admin tools for easy profile handling, user verification, and system oversight.
            </p>
            <a
              href="https://affordable-matrimony-adm-8efb1.web.app/login"
              target="_blank"
              class="mt-4 text-cyan-500 hover:text-cyan-300 text-decoration-none text-xl"
              ><i class="bx bx-link-external font-bold"></i> Visit</a
            >
          </div>
        </div>

        <div class="relative group project-card bg-gray-900 rounded-lg overflow-hidden shadow-lg">
          <img
            class="w-full h-72 object-cover transition-transform duration-300 transform group-hover:scale-110"
            src="../../assets/Melodius-ss.JPG"
            alt="Melodius Tune"
          />
          <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center p-4">
            <h5 class="text-lg font-bold text-white">Melodius-Tune</h5>
            <p class="text-sm text-gray-300 mt-2 text-center">
              A dynamic music player with pre-added singer albums and tailored playlists for each album, offering a smooth and enjoyable listening experience.
            </p>
            <a
              href="https://melodiustune-627d5.web.app/"
              target="_blank"
              class="mt-4 text-cyan-500 hover:text-cyan-300 text-decoration-none text-xl"
              ><i class="bx bx-link-external font-bold"></i> Visit</a
            >
          </div>
        </div>

        <div class="relative group project-card bg-gray-900 rounded-lg overflow-hidden shadow-lg">
          <img
            class="w-full h-72 object-cover transition-transform duration-300 transform group-hover:scale-110"
            src="../../assets/Crud-operation ss.JPG"
            alt="CRUD Operation"
          />
          <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center p-4">
            <h5 class="text-lg font-bold text-white">CRUD-Operation</h5>
            <p class="text-sm text-gray-300 mt-2 text-center">
              A robust system for managing student data with seamless create, read, update, and delete functionality, along with an organized student list view.
            </p>
            <a
              href="https://crud-operation-53f92.web.app/"
              target="_blank"
              class="mt-4 text-cyan-500 hover:text-cyan-300 text-decoration-none text-xl"
              ><i class="bx bx-link-external font-bold"></i> Visit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section
  class="contact bg-gradient-to-t from-black via-black bg-gray-800 py-16"
  id="contact"
>
  <div class="contact-text text-white pt-10">
    <h2>
      <i class="fas fa-phone"></i> Contact <span>Me</span>
    </h2>
    <h4 class="mt-5">Let's Connect</h4>
    <p>
      I’m always open to discussing new projects, creative ideas, or
      opportunities to be part of your vision. Feel free to reach out through
      the form and I’ll get back to you as soon as possible. Whether you
      need assistance with web development or have a project in mind, I look
      forward to hearing from you!
    </p>
    <div class="contact-list">
      <li>
        <i class="fas fa-envelope mr-2"></i
        ><a href="mailto:roshan.angrio@gmail.com" target="_blank"
          >roshan.angrio&#64;gmail.com</a
        >
      </li>
      <li class="mr-28 py-2">
        <i class="bx bx-phone-call mr-2"></i
        ><a target="_blank" href="tel:7984288693">7984288693</a>
      </li>
    </div>

    <div class="contact-icons">
      <a href="https://github.com/" target="_blank"
        ><i class="bx bxl-github social-icon"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/roshan-patil-837871278?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bpu9EpdstTYqujyRTbzCHYA%3D%3D"
        target="_blank"
        ><i class="bx bxl-linkedin social-icon"></i
      ></a>
    </div>
  </div>

  <div class="contact-form">
    <form
      [formGroup]="contactForm"
      action="https://formspree.io/f/xjvndlza"
      method="POST"
    >
      <input
        type="text"
        class="text-white"
        formControlName="name"
        placeholder="Enter Name"
        required
      />
      <div
        *ngIf="
          contactForm.get('name')?.touched && contactForm.get('name')?.invalid
        "
      ></div>

      <input
        type="email"
        class="text-white"
        formControlName="email"
        placeholder="Enter Your Email"
        required
      />
      <div
        *ngIf="
          contactForm.get('email')?.touched && contactForm.get('email')?.invalid
        "
      ></div>

      <input
        type="text"
        class="text-white"
        formControlName="subject"
        placeholder="Enter Your Subject"
        required
      />
      <div
        *ngIf="
          contactForm.get('subject')?.touched &&
          contactForm.get('subject')?.invalid
        "
      ></div>

      <textarea
        formControlName="message"
        class="text-white"
        cols="40"
        rows="10"
        placeholder="Enter Your Message"
        required
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.touched &&
          contactForm.get('message')?.invalid
        "
      ></div>

      <input
        (click)="onSubmit()"
        type="submit"
        value="Send Message"
        class="send cursor-pointer"
        [disabled]="contactForm.invalid"
      />
    </form>
  </div>
</section>

<div
  class="last-text text-white bg-gradient-to-b from-black via-black bg-gray-500"
>
  <p>
    All Rights Reserved ©
    <span class="animate-pulse text-red-500">❤️</span> Roshan Patil
  </p>
  <a *ngIf="showBackToTop" href="" class="top mt-4" (click)="scrollToTop()"
    ><i class="bx bx-up-arrow-alt"></i
  ></a>
</div>
